.footer {
  margin-top: -7px;
}
.footer__ovl {
  position: absolute;
  top: 0;
  left: 15%;
}
.footer .container {
  padding-top: 81px;
  padding-bottom: 42px;
}
.footer .footer__list {
  column-gap: 30px;
}
.footer .footer__list .icon {
  margin-right: 5px;
}
.footer .text {
  letter-spacing: 0.1em;
}
.footer .footer__socials {
  column-gap: 10px;
}
.footer .footer__socials .line {
  width: 40px;
  height: 1px;
  background-color: var(--black-cl);
}

@media screen and (max-width: 767.98px) {
  .footer .container {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media screen and (max-width: 575px) {
  .footer .footer__list {
    flex-direction: column;
    row-gap: 15px;
  }
}
